extends layout
block content
	link(href="/css/dustin.css", rel="Stylesheet")
	div.container
		div#focal-point
			img#main-image(src="/images/nodegloves.jpg", border="0", style="margin: 0 auto;")
	div.container
		div(style="border:2px solid #888; margin: 20px 0; height: 50px;")
			input#upload-image(type="file") Upload Images
			button#use-my-camera Use My Camera
			button#take-picture(style="display: none;") Take Picture
			span *Drag image on main image to upload it

block scripts
	script(src="/js/mosaic.js")
	script(src="/js/camera.js")
	script(src="/js/main.js")