extends layout
block content
	div.container
			div#banner.page-header
				div.row
					div.col-lg-5
						h1 Mosaic Examples
						p.lead Mosaic Generator
					div.col-lg-7
						img(src="/images/example.jpg", border="0", width="600")
	div.container