extends layout
block content
	div#banner.page-header
		h1.container(style='padding-left:0px') THE TEAM
		p.lead The Chalupa Batman team is composed of a four-man crew from Missouri. The idea was to build a tool that could make some interesting image Mosaics. Half the team had almost no experience with Node.JS so it was a challenge to complete the project within the time frame. We hope you enjoy what we hacked together over the last 48 hours. Now go generate your own MOSAICS!
	div.row.team-row
		div.col-lg-3
			h3 Andre Seibert
			a(href='http://andreseibert.foliotek.me', target='_blank')
				img(src="/images/team/Andre.jpg", border="0", width="200px")
			blockquote Yes, they deserved to die and I hope they burn in hell!  
		div.col-lg-3
			h3 Ethan Calvert
			a(href='http://ecalvert.foliotek.me', target='_blank')
				img(src="/images/team/Ethan.jpg", border="0", width="200px")
			blockquote I like turtles.
		div.col-lg-3
			h3 Dustin Smith
			a(href='http://dustin.foliotek.me', target='_blank')
				img(src="/images/team/Dustin.jpg", border="0", width="200px")
			blockquote Must be nice...
		div.col-lg-3
			h3 Andrew Miller
			a(href='http://andrew.foliotek.me', target='_blank')
				img(style="background: url('/images/team/Andrew.png'); background-position: -140px 0;",  border="0", height="200", width="200px")
			blockquote The DEFINITION of humanness is the opportunity to marvel at the majesty of creation!

